body {
  background-color: #F1F8E0;
  background-image: url("https://images.unsplash.com/photo-1607457561901-e6ec3a6d16cf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib");
  color: white;
  max-width: 700px;
  margin:0 auto;
  padding: 10px;
  float: left;
}
.listat {
  border-style:dotted;
  border-width:2px;
}
nav {
  float: left;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 1500px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

.elain {
  width: 40%;
  margin: 20px;
  background-color: red;
  float: left;
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 39%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.otsikko {
  text-align: center;
  }
