body {
  background-color: #F1F8E0;
  background-image: url("https://images.unsplash.com/photo-1607457561901-e6ec3a6d16cf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib");
  margin: 35px;
  color: white
}
h1   {
  color: #FA58AC;
  align: center;
  background-color: white;
  border-radius: 25px;
  font-size: 45px;
  border: dotted;
}
p    {
  color: pink;
  background-color: white;
  border-radius: 25px;
  font-size: 20px;
  padding: 35px;
}
.listat {
  border-style:dotted;
  border-width:2px;
}
ul {
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}
li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
.elain {
  width: 50%;
  margin: 20px;
  background-color: red;
}
