body {
  background-color: #F1F8E0;
  background-image: url("https://images.unsplash.com/photo-1607457561901-e6ec3a6d16cf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib");
  color: white
}
h1   {
  color: pink;
  font-size: 20px;
  border: dotted;
}
p    {
  color: pink;
  background-color: white;
  font-size: 12px;
}
.listat {
  border-style:dotted;
  border-width:2px;
}
